h1 {
	font-size: 48px;
	font-weight: 500;
	padding: 20px;
	bottom-margin: 20px;
	text-align: center;
	color: #006dcc;
	border-bottom: 4px solid black;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

h4 {
	color: #006dcc;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
}

.about-me {
	margin-top: 20px;
}

.about-me-tech {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 10px;
	
}

.about-me-goal {
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
	font-color: black;
}

.video-link {
	max-width: 100%;
	height: auto;
	margin-top: 30px;
	margin-bottom: 10px;
}

.coding-link {
	margin-top: 50px;
	margin-bottom: 5px;
}

.main-photo {
	margin-top: 20px;
}

.btn {
   	text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.btn-primary {

	display: inline-block;
	width: 100px;
	font-size: 16px;
	font-weight: 400;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid #ddd;
	border-radius: 4px;
}

