h1 {
	padding: 20px;
	bottom-margin: 20px;
	text-align: center;
	color: blue;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 4px
}

.btn {
   	text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.btn-primary {

	display: inline-block;
	width: 100px;
	font-size: 16px;
	font-weight: 400;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid #ddd;
	border-radius: 4px;
}

